.body {
    width: 800px;
    margin: 0 auto;
}

.disc-center {
    background-color: #74e9f8;
}

.disc-content-item>p {
    background-color: #a4f0fa;
}

.disc-topic, .disc-names>div:first-child {
    background-color: #d4f8fd;
}

.disc-body {
    height: 600px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.disc-topic {
    flex: none;
    height: 70px;
    border: 1px solid black;
}

.fa.fa-times{
    margin: 10px;
    float: right;
}

h2 {
    margin: 5px;
    margin-top: 10px;
}

.disc-topic p {
    padding: 3px;
    margin: 5px;
}

.disc-topic h2, .disc-topic p {
	margin-left: 20px;
}

.disc-center {
	border: 1px solid black;
    overflow: auto;
}

.disc-center-indent{
	height: 10px;
}

.disc-item {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.disc-names {
    flex: none;
    width: 150px;
    margin: 0;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.disc-names>div {
    margin: 2px;
}

.disc-names>div:first-child {
    width: 45px;
    height: 45px;
    margin-left: 4px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disc-content {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.disc-content-item>p {
    padding: 10px;
    margin: 1px;
    border: 1px solid black;
}

.disc-content-item {
    margin: 10px;
}