input[type="submit"] {
	border: 0;
	box-shadow: 0 0 3px 1px;
    background-color: $button-color;
}

#send-form {
    width: 100px;
    height: 50px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 85%;
    left: 80%;
    background-color: $button-color;
}