@import url('normalize.css');

$font-stack : Helvetica, sans-serif;
$primary-color: rgb(200,225,233);
$button-color: rgb(73, 149, 151);
$active-color: #d8ecf3; //rgb(126, 180, 182);
$table-header: lightblue;
$row-active-color: #d8ecf3;

@import 'common';
@import 'buttons';
@import 'cosmetic';
